{% extends 'app/base.html' %}
{% load static %}
{% block title %}Forget Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a  class="btn btn-primary">Forgot Password</a></li>
      </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
      <form action="" method="post" novalidate class="shadow p-5>
          {% csrf_token %}{% csrf_token %}
    {% if messages %}
    {%for message in messages%}
    <p {% if message.tags %}class = " alert alert-{{message.tags}}"{% endif %}>{{message}}</p>
        {%endfor%}
        {% endif %}

        {% for fm in form%}
        <div class="form-group mb-3">
          {{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small>

        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Change"></input>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}